name: Run tests

on:
  push:
    branches: ["main", "feat/*"]
  pull_request:
    branches: ["main", "feat/*"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: 1.20.7

      - uses: actions/checkout@v4

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
